.menu1-container{
   visibility: hidden;
}

.menuBtn{
  visibility: hidden;
}

// スマホ時のメニューボタン
@media only screen and (max-width: $breakpoint-md) {
  .menu1-container{
    visibility: visible;
    &__menuBtn {
      z-index: 300;
      box-sizing: border-box;
      position: absolute;
      width: 50px;
      height: 55px;
      text-align: center;
      display: inline-block;
      border: 2px solid #ccc;
      font-size: 12px;
      padding-top: 35px;
      margin:10px 10px 10px auto;
      left: 80%;
      top: 2%;
      color: #ccc;

        &::after,
        &::before {
          content: '';
          display: block;
          height: 2px;
          width: 30px;
          background: #ccc;
          position: absolute;
          top: 10px;
          left: 8px;
          transition: .3s;
        }

        &::after {
          box-shadow: 0 -10px 0 #ccc;
          top: 30px;
        }

        &.on::before {
          transform: rotate(45deg) translate(9px, 7px);
        }

        &.on::after {
          box-shadow: none;
          transform: rotate(-45deg) translate(7px, -5px);
        }
    }

    &__menuli {
      position: absolute;
      width: 100%;
      z-index: 200;
      margin: 0;
      padding-left: 0;
      display: none;
      list-style: none;

      li{

        background:rgb(122, 122, 122);
        padding: 20px;
        // border-bottom: 1px solid #fff;
        text-align: center;
      }
      a{

        color:#fff;
        text-decoration: none;
      }
    }
  }
  }
