.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(#FFF,0.7);

  a {
    text-decoration: none;
    color: $color;
  }

  &__logo{
    font-size: 2em;
    margin-left: 120px;
  }

  &__nav{
    display: flex;
    margin-right: 120px;
    padding-top: 10px;

    & li{
      display: inline;
      cursor: pointer;
      margin-left: 20px;
    }

  }
}

/* MediaQuery */
@media only screen and (max-width: $breakpoint-md) {

  .header{
    margin-top: 0;
    &__nav{
      display: none;
  }

  &__border{
    margin-top: 50px;
  }

  }

}
