.header {
  display: flex;
  justify-content: space-between;
  // opacity: 0;
  height: 100px;
  padding-top: 100px;

  &__logo{
    font-size: 2em;
    margin-left: 100px;
  }

  &__nav{
    display: flex;
    margin-right: 50px;

    & li{
      display: inline;
      cursor: pointer;
      margin-left: 30px;
    }

  }
}
