.main-img{
  &__img{
    position: relative;
    max-width: 100%;
  }
  &__text{
    position: absolute;
    font-weight: bold;
  }
}

.container {
  margin: 120px 120px 30px 120px;

  .heading{
    h1,p,a{
      margin: 0 20px 0 40px;
    }
  }


  .cover-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    line-height: 1.5;
  }
}
